<style>
    .mystyle
    {
        background-color: hotpink;
        width: 100px;
        height: 100px;

    }
</style>
<div>
    <input type="number"/>
    <br>
    <input type="number"/>
</div>
<div>
    <input type="button" 
    value="+"
    var = 
    />  
    <input type="button" value="-"/>  
    <input type="button" value="*"/>   <input type="button" value="/"/> 
    <br>
    
    <input type="button" value="7"/>   <input type="button" value="8"/>   <input type="button" value="9"/>   <input type="button" value="CE"/> 
    <br>
    
    <input type="button" value="4"/>   <input type="button" value="5"/>   <input type="button" value="6"/>   <input type="button" value="←"/> 
    <br>
    
    <input type="button" value="1"/>   <input type="button" value="2"/>   <input type="button" value="3"/>   <input type="button" value="="/> 
    <br>
    
    <input type="button" value="0"
    var num0="0"/> 
</div>

  



 




<script>


</script>